@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Code", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282C33;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar menu"
        "footer footer"
    ;

}

header {
    grid-area: header;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(40px);
    border-bottom: 1px solid #C778DD;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    display: flex;
    width: 97%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .logo img {
        height: 8vh;
        border-radius: 50%;

    }

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;
    }

    select {
        height: 30px;
        background-color: #282C33;
        color: white;
        border: none;
    }
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

aside {
    height: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C778DD;

    ul {
        position: fixed;
        top: 40%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        margin: 3vw;
    }

}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

a:hover {
    font-size: 20px;
    color: #C778DD;
    transition: 0.6s;
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-bottom: 1px solid #C778DD;
}

.project-card {
    scroll-margin-top: 15vh;
    background-color: #393e47a1;
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70vw;
    height: 50vh;
    border: 1px solid;
    border-radius: 20px;

    img {
        height: 20vw;
        width: auto;
        transition: 0.5s;
        border: 1px solid;
        border-radius: 10%;
    }
}

.project-card:hover {
    border-color: #C778DD;
    transition: 0.5s;
}